@import url(https://fonts.googleapis.com/css?family=Roboto:regular,bod,light,medium&display=swap&subset=cyryllic-ext)

$fontFamily: "Roboto"

*
  padding: 0
  margin: 0

body
  width: 100%
  height: 100%

// the first page
.background
  display: flex
  justify-content: center
  align-items: center

.logo
  height: 200px

// dashboard
.bg
  display: flex
  flex-direction: row
  // min-height: 100vh auto
  // min-width: 100vw
  // background-size: contain

  .bg__left
    width: 180px
    background-color: #374050

    .left__bg-logo
      border-bottom-right-radius: 19px
      width: 78px
      height: 59px
      display: flex
      background-color: #fff
      justify-content: center
      align-items: center
      position: absolute

      .bg-logo__admin-logo
        position: absolute
        width: 53px
        height: 22.85px
        left: 12px
        top: 18px

    .left__container
      position: absolute
      left: 90px
      top: 8px
      font-style: normal
      font-weight: 400
      line-height: 11px

      .container__text
        color: #FFFFFF
        font-size: 12px

    .left__menu
      margin-top: 73px
      margin-left: 34px
  
      .menu__text
        color: rgba(256, 256, 256, 0.7)
        font-size: 11px

  .bg__right
    background-color: #F2F6FA
    background-attachment: fixed
    flex: auto
    
    .right__content
      height: 100vh
      flex-wrap: wrap
      flex-direction: row

      .content__nav
        height: 59px
        display: flex
        flex-direction: row
        justify-content: space-between
        background-color: #fff
        padding-left: 18px
        padding-right: 32px
        padding-top: 26px

        .nav__link
          color: #ED1C24
          font-size: 11px
          
        .nav__auth
          margin-top: -10px
          color: #A6AFB8
          font-size: 11px

        .nav__hr
          background-color: #ED1C24
          width: 63px
          height: 3px
          margin-top: 13px

      .content__table
        width: 630px
        padding-left: 18px

        .table__header
          background-color: #F2F6FA
          padding-left: 18px

          .header__title
            padding-top: 10px
            padding-bottom: 12px
            font-size: 11px
            font-weight: 400
            text-align: left
            color: #6E6E6F
        
        .table__body
          border-top: 1px solid #C4C4C4
          background-color: #fff

          .body__item
            color: #6E6E6F
            font-size: 11px 
            padding-bottom: 14px
            padding-top: 14px
            border-bottom: 1px solid #C4C4C4

      .content__bg-button
        top: 76px
        right: 18px
        position: absolute

        .bg-button__button
          width: 136px
          height: 30px
          border-radius: 5px
          margin-top: 17px
          background-color: #0FC5FF
          display: flex
          justify-content: center
          align-items: center
          coursor: pointer

          .button__button-text
            color: #fff
            font-size: 11px

// card show
.bg-modal
  width: 100%
  height: 100%
  display: flex
  flex-direction: row
  justify-content: right
  z-index: 100000
  position: absolute

  .bg-modal__modal 
    width: 630px
    height: 550px
    margin-top: 59px
    padding-left: 11px
    padding-bottom: 39px
    right: 0
    position: absolute
    background-color: #374050
    border: 1px solid

    .modal__header
      display: flex
      flex-direction: row
      justify-content: space-between

      .header__text
        font-size: 20px
        color: #fff  
        margin-top: 24px
        margin-bottom: 28px

      .header__icons
        display: flex
        flex-direction: row

        .icons__close
          margin-top: 24px
          width: 17px
          height: 17px
          cursor: pointer
          margin-left: 2px
        .icons__close:last-child
            margin-left: 14px

    .modal__input-group
      display: flex
      flex-direction: column
      justify-content: space-between
      padding-bottom: 18px

      .input-group__title
        color: rgba(256, 256, 256, 0.7)
        font-size: 11px
        
      .input-group__input
        border-radius: 3px
        width: 472px
        height: 30px
        margin-top: 10px
        padding-top: 11px
        padding-left: 9px
        padding-bottom: 9px
        font-size: 11px

    .modal__subheader
      font-size: 14px
      color: #fff 
      margin-bottom: 18px 

    .modal__bg-attr
      display: flex
      flex-direction: row
      margin-bottom: 16px

      .bg-attr__input-group
        display: flex
        flex-direction: column
        margin-right: 11px

        .input-group__title
          color: rgba(256, 256, 256, 0.7)
          font-size: 11px
          margin-top: 10px
          
        .input-group__input
          border-radius: 3px
          width: 220px
          height: 30px
          padding-top: 11px
          padding-left: 9px
          padding-bottom: 9px
          font-size: 11px

          .input
            background-color: #374050
            border-radius: 3px
            width: 489px
            height: 122px

      .bg-attr__trash
        width: 16px
        height: 16px
        margin-top: 34px
        cursor: pointer

    .modal__add-attr
      color: #0FC5FF
      font-size: 11px
      text-decoration: none
      border-bottom: 1px dashed #0FC5FF

    .modal__show
      text-align: left

      .show__title
        color: rgba(256, 256, 256, 0.7)
        font-size: 11px
        padding-bottom: 18px

      .show__value
        color: rgba(256, 256, 256, 1)
        font-size: 11px
        padding-left: 18px
        padding-bottom: 18px

  .bg-modal__button
    margin-top: 30px
    width: 136px
    height: 30px
    border-radius: 5px
    margin-top: 17px
    background-color: #0FC5FF
    display: flex
    justify-content: center
    align-items: center
    coursor: pointer
    
    .bg-button__text
      color: #fff
      font-size: 11px

// modal
.closed 
  display: none

.error
  color: red
  font-size: 12px
  margin: 6px