@import url(https://fonts.googleapis.com/css?family=Roboto:regular,bod,light,medium&display=swap&subset=cyryllic-ext);
* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  display: block;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 200px;
}

.background-admin {
  height: 100vh;
  width: 100vw;
  background-color: #E5E5E5;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.left-column {
  width: 180px;
  height: 100vh;
  background-color: #374050;
}

.logo-fon {
  border-bottom-right-radius: 19px;
  width: 78px;
  height: 59px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.small-logo {
  position: absolute;
  width: 53px;
  height: 22.85px;
  left: 12px;
  top: 18px;
}

.menu {
  margin-top: 83px;
  margin-left: 34px;
}

.menu-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
}

.text-left-container {
  position: absolute;
  left: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
}

.text-left {
  color: #FFFFFF;
  font-size: 12px;
}

.wrap {
  width: 100vw;
  height: 100%;
}

.nav {
  height: 59px;
  flex-wrap: wrap;
  background-color: #fff;
  right: 0;
}

.nav-link {
  position: absolute;
  margin-top: 26px;
  margin-left: 18px;
}

.text {
  color: #ED1C24;
  font-size: 11px;
}

.line {
  display: flex;
  flex-direction: column;
}

hr {
  color: #ED1C24;
  width: 60px;
  height: 3px;
  margin-left: 18px;
  top: 59px;
}

.auth {
  margin-top: 15px;
  right: 0;
  font-size: 11px;
  color: #A6AFB8;
  position: absolute;
}

.name {
  color: #A6AFB8;
  font-size: 11px;
}

.content {
  background-color: #F2F6FA;
  height: 100vh;
  flex-wrap: wrap;
  flex-direction: row;
}

.table {
  width: 630px;
  position: absolute;
}

.table-body {
  border-top: 1px solid #C4C4C4;
  background-color: #fff;
}

.title {
  color: #6E6E6F;
  font-size: 11px;
  font-weight: 400;
  text-align: left;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 12px;
}

.item {
  color: 6000000E6F;
  font-size: 11px;
  padding: 14px;
  border-bottom: 1px solid #C4C4C4;
}

.button-overflow {
  position: absolute;
  top: 76px;
  right: 18px;
}

.button {
  width: 136px;
  height: 30px;
  border-radius: 5px;
  margin-top: 17px;
  background-color: #0FC5FF;
  display: flex;
  justify-content: center;
  align-items: center;
  coursor: pointer;
}

.button-text {
  color: #fff;
  font-size: 11px;
}

.modal-overlay {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.modal {
  width: 630px;
  margin-top: 59px;
  padding-left: 11px;
  padding-bottom: 39px;
  right: 0;
  position: absolute;
  background-color: #374050;
  border: 1px solid;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-header-text {
  font-size: 20px;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 28px;
}

.close {
  margin-top: 24px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 18px;
}

.input {
  border-radius: 3px;
  width: 472px;
  height: 30px;
  margin-top: 10px;
}

.attributes {
  display: flex;
  flex-direction: row;
}

.input-attr {
  border-radius: 3px;
  width: 220px;
  margin-top: 10px;
  margin-right: 11px;
  height: 30px;
}

.add-attr {
  color: #0FC5FF;
  font-size: 12px;
  padding-top: 15px;
  text-decoration: none;
  border-bottom: 1px dashed #0FC5FF;
  margin-bottom: 31px;
}

.trash {
  width: 16px;
  height: 16px;
  margin-top: 18px;
  cursor: pointer;
}

.status-overflow {
  background-color: #374050;
  border-radius: 3px;
  width: 489px;
  height: 122px;
}

.status {
  font-size: 12px;
  color: #000;
}

.closed {
  display: none;
}
